body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  text-align: center;
}

nav a {
  text-align: center;
  width: 200px;
  border: auto;
  padding: auto;
  margin: auto;
  background-color: orange;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

figure ~ p {
  text-align: center;
  width: 700px;
  border: auto;
  padding: auto;
  margin: auto;
}


#details div {
  float: left ;
  text-align: center;
  width: 25%;
  background-color: orange;
}
